--prefer-binary
fastapi
uvicorn
python-multipart
pydantic
python-dotenv
requests
langchain
langchain-pinecone
langchain-community
langchain-huggingface
pinecone
pinecone-client
pymongo
ultralytics
pillow
opencv-python-headless
numpy==1.24.4
huggingface_hub
setuptools>=65.0.0
wheel
